
Titanic - Machine Learning from Disaster/data/gender_submission.csv
Titanic - Machine Learning from Disaster/data/test.csv
Titanic - Machine Learning from Disaster/data/train.csv
Titanic - Machine Learning from Disaster/reference/.ipynb_checkpoints/a-data-science-framework-to-achieve-99-accuracy-checkpoint.ipynb
Titanic - Machine Learning from Disaster/.ipynb_checkpoints/Titanic - Machine Learning from Disaster-checkpoint.ipynb
Titanic - Machine Learning from Disaster/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Titanic - Machine Learning from Disaster/reference/a-data-science-framework-to-achieve-99-accuracy.ipynb
